#field {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 10px solid blue;
}

.hit-me {
  width: 4%;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
}
.box {
  background: red;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
}
.box:hover{
    opacity: 0.8;
}
.box:active{
    background: green;
}
.points{
    background: #CECECE;
    width: 200px;
    height: 50px;
    padding: 10px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: green;
    font-weight: bold;
}